<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

        <title>SimulationCraft Permut (Rust) - Report collection</title>
    </head>
    <body>
        <div class="container">
            <h2>This is a generated report of SimulationCraft Permut (Rust)</h2>
            <p>Created with version: #[[var=version]]<br />
                The program SimulationCraft can be found <a href="https://simulationcraft.org/">here.</a></p>

            <p>This report gives you an overview of all reports created by simc.exe. The reports 
                are sorted in descending order according to their DPS values. However, only the best
                 <b>#[[var=best_of]]</b> reports are listed. But, all reports have been saved. 
                 <br />You can find them all here: ./<b>#[[var=report_dir]]/[html|json]/</b>.<br />
                 Depending on the number of objects, many variants can be created.</p>
                
            <p>The minimal dps is at: #[[var=min_dps]]<br />
                The maximum dps is at: #[[var=max_dps]]</p>

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width:10%">DPS</th>
                        <th scope="col" style="width:50%"></th>
                        <th scope="col">Report</th>
                    </tr>
                </thead>
                <tbody>
                    #[[var=report_list]]
                </tbody>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
</html>